<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Destination</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div>
        <div>
            <h1>Add a Trip</h1>
            <a href="/travels">Back</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <form action="/create" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                    <p class='text-danger small'>{{message}}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" name="destination">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description">
                </div>
                <div class="form-group">
                    <label for="start_date">Travel Date From</label>
                    <input type="date" class="form-control" name="start_date">
                </div>
                <div class="form-group">
                    <label for="end_date">Travel Date To</label>
                    <input type="date" class="form-control" name="end_date">
                </div>
                <div>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>